
<div class = "today">
<h3>  Results </h3>
<% @concerts.each do |concert| %>
<div>
<%= link_to "#{concert.artist}", "/concerts/#{concert.id}" %> at <%= concert.venue %>
<br><%= sprintf('%.2f', concert.price) %>
</div>
<%end%>
</div>
<div class = "side-bar">
	<form action = "/search" >
		<label for "price">Price: </label>
		<input name = "price" type = "number" ></input>
		<button type = "submit" class = "special-button">Go!</button>
	</form>
<div class = "next_month">
	<h3> Upcoming Concerts </h3>
		<% @future_concerts.each do |concert| %>
		<div>
		<%= link_to "#{concert.artist}", "/concerts/#{concert.id}" %> at <%= concert.venue %>
		</div>
	<%end%>
</div>
</div>
