<h1><%= @user.name %></h1>
<p><%= @user.email %><p>
<div ><button class = "js-num-review" data-id = "<%=@user.id%>"><%=@user.seller_reviews.length%></button></div>

<ul>
<% @products.each do |product| %>
	<li><%= link_to "#{product.title}", "/users/#{@user.id}/products/#{product.id}" %></li>
	<%= product.description %>
	<br>
	Sale ends at <%= product.deadline%>
	<br>
	<%= link_to 'Delete', user_product_path(@user, product), method: :delete, data: {confirm: 'Are you sure?'} %>

<% end %>
</ul>



	<%= link_to "Add an auction item", "/users/#{@user.id}/products/new"%>
<br>
	<%= link_to 'Delete', user_path(@user), method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
<%= link_to "Back to all users", users_path %>